@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient {
        @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-600;
    }

    .faded-text{
        @apply font-bold text-sm text-gray-400
    }

    .divider{
        @apply w-full h-0.5 my-6 bg-gray-800
    }

    .shimmerBG {
        @apply bg-gray-200 relative overflow-hidden;
        position: relative;
      }
      
      .shimmerBG::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%; 
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, .5) 0%,
          rgba(255, 255, 255, 0.6) 50%,
          rgba(255, 255, 255, .5) 100%
        );
        animation: shimmer 1.2s ease-in-out infinite; 
      }
      
      @keyframes shimmer {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
      
}